@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fasthand');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2d3236;
    font-family: 'Quicksand', sans-serif;
}

.profile-card {
    width: 200px;
    height: 200px;
    background: #2d3236;
    padding: 50px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;

 
}

.profile-card:hover {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 380px;
}

.profile-card img {
    animation: autoHover 2s infinite; 
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 10;
}

.profile-card:hover img {
    transform: translateY(-60px);
}

img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.profile-card:hover img {
    border-radius: 10px;
}

.caption {
    text-align: center;
    transform: translateY(-70px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 1;
}

.caption h3 {
    font-size: 24px;
    font-weight: 200;
    font-family: Fasthand;
    color: #ffff;
}

.caption p {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    top: -25px;
    font-size: 15px;
    color: #ffffff;
    
}

.social-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    top: -35px;
    margin-top: 50px;
}

@media only screen and (max-width: 700px) {
    .profile-card {
        margin-top: 45px;
    }

}

